div#footer-wrap
    footer
        div
            p &copy; 2023 
                span
                    img.logoSvg(src='/img/images/fp_logo.svg' width='20px')
                |  fritid & park i Sverige
            
            a(href='https://www.mediavalet.se' target='_blanc')
                p(style='display:inline-block; margin-top: 1rem;') powered by&nbsp;
                    span
                    img(src='/img/images/mediavalet_logo.svg' width='12px' style='margin-bottom: -.1rem;')
                    | ediavalet
            
        div.add_button.tweek.hidden: p.add_button_text +