extends base

block login
    sector.head-container
        div.upper-face-container
            div.upper-left-face
                div.eyebrow.left-eyebrow
                div.eye.left-eye
                    div.eyelid.left-eyelid
                    div.eyeball.left-eyeball
            div.upper-right-face
                div.eyebrow.right-eyebrow
                div.eye.right-eye
                    div.eyelid.right-eyelid
                    div.eyeball.right-eyeball
        div.lower-face-container
            input.mouth(type="password" title="Ange [epost] mellanslag [lösenord]" required readonly)
        div.nose