* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: var(--font-size);
  color: var(--font-color);
  overflow: hidden;
}

/* Leaflet */

.leaflet-bar {
  position: absolute;
  display: inline-block;
  width: content-fit;
  height: content-fit;
  border-radius: 2.5rem;
  overflow: hidden;
  filter: drop-shadow(0 2px 1rem rgba(0, 0, 0, 0.75));
}

@media (max-width: 550px) {
  .leaflet-bar {
    border-radius: 0;
    left: -1rem;
    top: -1rem;
    filter: drop-shadow(0 1px 0.5rem rgba(0, 0, 0, 0.75));
  }
}

.leaflet-control-zoom a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color);
  padding: 2rem;
}

@media (max-width: 550px) {
  .leaflet-control-zoom a {
    display: none;
  }
}

.leaflet-control-zoom > .leaflet-control-zoom-in {
  background-color: #eabc93;
}

.leaflet-control-zoom > .leaflet-control-zoom-in:active {
  transform: scale(0.95);
  filter: drop-shadow(0 2px 1rem rgba(0, 0, 0, 0.25));
  outline: 1px solid lightgray;
}

.leaflet-control-zoom > .leaflet-control-zoom-out {
  background-color: #e9cbb0;
}

.leaflet-control-zoom > .leaflet-control-zoom-out:active {
  transform: scale(0.95);
  filter: drop-shadow(0 2px 1rem rgba(0, 0, 0, 0.25));
  outline: 1px solid lightgray;
}

.leaflet-popup-content-wrapper {
  display: initial;
  padding: 0;
}

.leaflet-popup-content-wrapper section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  top: -7.5rem;
}

.leaflet-popup-content-wrapper #pSkribent {
  margin-top: 0;
}

.leaflet-popup-content-wrapper #pTime {
  margin-top: 0;
}

.leaflet-popup-tip-container {
  display: none;
}

.leaflet-container {
  font-family: 'Times New Roman';
}

.leaflet-container a {
  color: white;
}

.leaflet-popup-close-button {
  display: none;
}

/* Leaflet articles */

.leaflet-pLogga {
  width: 8rem !important;
  height: 8rem !important;
  border-radius: 50% !important;
  transform: rotate(10deg);
}

.leaflet-card {
  transform: rotate(-10deg);
  padding: 1rem;
  width: 20rem !important;
  height: 20rem !important;
  border-radius: 50% !important;
}

.leaflet-card-rubrik {
  font-size: 2rem !important;
  padding: 1rem !important;
  padding-bottom: 1.2rem !important;
  text-align: center;
  margin-top: 1rem;
  width: 120%;
  backdrop-filter: invert(80%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.606);
}

.leaflet-logo-container {
  display: flex;
  flex-direction: column !important;
  align-items: center;
}
