dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  background: var(--fritid-color);
  border: none;
  border-radius: 2rem;
  box-shadow: 0 1px 1.5rem rgba(132, 132, 132, 0.75);
}

dialog > div {
  display: flex;
  gap: 1rem;
  align-self: baseline;
  flex-wrap: wrap;
}

.btn-login-style {
  background: var(--bad-color);
}

::backdrop {
  background: #90cccb81;
  opacity: 90%;
  backdrop-filter: blur(5rem);
}
